{% extends "dashboard.html" %}
{% load static %}

{{ block.super }}


{% block dashboard_content %}
<form class="pure-form pure-form-stacked" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form.non_field_erros}}
        {% for field in form%}
        <div class="pure-control-group">
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
            {% endfor %}
        <div class="pure-controls">
             <button type="submit" class="pure-button pure-button-primary">Alterar!</button>
        </div>
    </fieldset>
    {% if sucess %}
    <p>SENHA ALTERADA COM SUCESSO</p>
    {% endif %}
</form>
{% endblock %}
